body, html {
    height: 100%;
}
accordion {
    width: 100%;
}
.root{
    position: fixed;
    display: block;
    background-color: rgb(221, 238, 238);
    color: black;
    height: 100%;
    width: 40%;
    right: 0;
    border: 2px solid blue;
    z-index: 0;
    overflow: hidden;
}
.order{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:10;
    background-color:red;
    margin: 0%;
} 
.print{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:100;
    background-color: green;  
}
.delivery{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:1000;
    background-color: blue;
}
.confirm{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index:10000;
    background-color: orange;
}
.card {
    border-radius: 20px;
}
button{
    position: relative;
    background-color: antiquewhite;
    display: block;
    width: 40%;
    top: 55%;
    margin: auto;
    border-radius: 25px;
}
h2{
    
    text-align: center;
    margin: auto;
}