body, html {
  width: 100vw;
  height: 100vh;
}
accordion {
    width: 100%;
}
.root{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 238, 238);
    color: black;
    height: 100%;
    width: 40%;
    right: 0;
    border: 2px solid blue;
    z-index: 0;
    overflow: hidden;
    align-items: stretch;
}