body, html {
  width: 100vw;
  height: 100vh;
}
accordion {
    width: 100%;
}
h2{
    margin: 0.1em auto 0.5em 0.1em;
    color: grey;
}
.root{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 238, 238);
    color: black;
    height: 90%;
    width: 40%;
    right: 0;
    border: 1px solid blue;
    z-index: 0;
    overflow: hidden;
    align-items: stretch;
}

.card{
    border-top: 1px solid black;
    border-radius: 20px;
    height: 5%;
    overflow: hidden;
}

.card.active {
    flex-grow:1;
}
.card.active h2{
    flex-grow:1;
    color: black;
}
.order {
    position: relative;
}

.print {
    position: relative;
}

.delivery {
    position: relative;
}

.confirm {
    position: relative;
}
.closeButton{
    position: absolute;
    z-index: 10;
    right: 0.5em;
    top: 0.5em;
}
.closeButton button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}